/**
 * Desenvolvido por Henrique Boaventura <http://www.hboaventura.com>
 **/

/**
 * gerais
 **/
body{
    font-size:14px;
    color:#000;
    background:#E6E6FA;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

a{
    color:#000;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}

div.pagination{
    
    text-align:center;
}
    div.pagination img{
        vertical-align: text-top;
    }
    div.pagination a, div.pagination span.unlinkedPage{
        margin:0px 2px;
    }
    div.pagination span.unlinkedPage{
        color:#369;
    }

/**
 * estrutura
 **/

div.container{
    background:#9CC url(/images/fundo.png) repeat-y left top;
}    
    div.capa h2{
        left:-9999em;
        position:absolute;
    }
    div#header{
        background: transparent url(/images/topo.png) no-repeat left top;
        height:95px;
    }
    
    div#content{
        background-color:#fff;
        margin:10px 10px 0px 0px;
        padding:0px 10px 10px 10px;
        text-align:justify;
        width:680px;
    }
        div#content a{
            color:#369;
        }
    div#sideBar{
        margin-left:15px;
        padding:5px 15px 5px 10px;
        width:190px;
    }
        div#sideBar h2{
            position: absolute;
            left:-9999em;
        }
    div#footer{
        background: transparent url(/images/rodape.png) no-repeat left top;
        height:55px;
    }
    
/**
 * header
 **/
div#header h1{
    color:#fff;
    float:left;
    font-size: 20px;
    margin: 20px 0px 0px 300px;
}
div#header ul{
    float:left;
    margin:22px 0px 0px 225px;
}
    div#header ul li{
        border-right:1px solid #369;
        display:inline-block;
        list-style:none;
        padding:0px 7px 0px 3px;
    }
    div#header ul li.last{
        border:0;
    }
        div#header ul li a{
            color:#369;
            font-weight:bold;
        }
div#header fieldset{
    float:left;
    border:0;
    padding:0px;
    margin:15px 0px 0px 30px;
    width:350px;
}
    div#header fieldset legend{
        display:none;
    }
    div#header fieldset input{
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        width:265px;
    }
    input.button{
        background-color:#369;
        border:1px solid #369;
        color:#fff;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        width:auto!important;
    }    
    
/**
 * sideBar
 **/
div#sideBar h3{
    border-bottom:1px dotted #369;
    color:#369;
    font-size:18px;
    margin-bottom:5px;
    text-transform:uppercase;
}
div#sideBar ul{
    padding-left:10px;
}
    div#sideBar ul li {
        border-bottom:1px dotted #000;
        list-style:none;
    }
        div#sideBar ul li a{
            color:#000;
            font-size:15px;
        }
div#sideBar ul#partners{
    padding-left:5px;
}
    div#sideBar ul#partners li{
        border: 0px;
    }
/**
 * gerais
 **/
div#content{
    
}
    div#content h2{
        border-bottom:1px dotted #369;
        color:#369;
        font-size:18px;
        text-transform: uppercase;
    }
    
/**
 * capa
 **/
div.capa{
    background-color:transparent!important;
    padding-left:0px!important;
    width:690px!important;
}
    div.capa div{
        background-color:#fff;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding:5px;
        text-align:justify;
        overflow: hidden;
    }
        div.capa div h3{
            border-bottom:1px dotted #369;
            color:#369;
            font-size:18px;
            margin-bottom:5px;
            text-transform:uppercase;
        }
    div.capa div#ads_700{
        background-color:transparent;
        clear:both;
        float:left;
        height:130px;
        margin-bottom:10px;
        padding:0px;
        width:700px;
    }
    div.capa div#newsBox{
        clear:both;
        float:left;
        height:230px;
        margin-bottom:10px;
        width:690px;
    }
        div.capa div#newsBox ul{            
            list-style:none;
            padding-left:5px;
        }
            div.capa div#newsBox ul li{
                margin-bottom:10px;
            }
        div.capa div#newsBox a.leiamais{
            float:right;
        }
        div.capa div#newsBox span.picture{
            background-color:#9cc;
            float:right;
            margin:0px 0px 5px 5px;
            padding:5px;
            width:180px;
        }
            div.capa div#newsBox span.picture h4{
                font-size:1em;
                margin-bottom:0px;
            }
    div.capa div#socialMedia{
        float:left;
        height:115px;
        margin:0px 10px 10px 0px;
        width: 250px;
    }
        div.capa div#socialMedia img{
            margin:10px 1px;
        }
    div.capa div.ads_125{
        background-color:transparent;
        float:left;
        height:125px;
        margin:0px 10px 10px 0px;
        padding:0px;
        width: 125px;
    }
    div.capa div#caracteristicas, div.capa div#cuidados{
        float:left;
        height:172px;
        margin:0px 10px 10px 0px;
        text-align:right;
        width:250px;
    }
        div.capa div#caracteristicas p, div.capa div#cuidados p{
            height:125px;
            margin:5px 0px;
            overflow:hidden;
            text-align:justify;
        }
        div.capa div#caracteristicas a, div.capa div#cuidados a{
            
        }
    div.capa div#ads_160{
        background-color:transparent;
        float:left;
        height:320px;
        margin: -135px -10px 0px 0px;
        padding:0px;
        width:160px;
    }
    div.capa div#guestbook{
        clear:both;
        float:left;
        height:220px;    
        width:690px;
    }
        div.capa div#guestbook a{
            float:right;
        }
        div.capa div#guestbook ul{
            padding-left:0px;
            margin:0px;
        }
            div.capa div#guestbook ul li{
                list-style:none;
                margin-bottom:10px;
            }
            div.capa div#guestbook ul li:last-child{
                margin-bottom:0px;
            }
                div.capa div#guestbook ul li p{
                    height:31px;
                    line-height:1.1em;
                    margin:0px;
                    overflow:hidden;
                    
                }
                
/**
 * news
 **/
div.news{

}
    div.news h3{
        font-size:17px;
    }
    div.news img{
        border:4px solid #369;
        float:left;
        margin:0px 5px 5px 0px;
    }
    div.news ul{
        padding-left:20px;
        margin-bottom:0px;
    }
    div.news ul li{
        margin-bottom:10px;
    }
    div.news div.source{
        color:#369;
        font-size:12px;
        text-align:right;
    }
    
/**
 * professionals
 **/
div.professional{
    
}
    div.professional dl dt{        
        color:#369;
        margin-top:10px;
        text-decoration:underline;
    }
    
/**
 * downloads
 **/
div.download{}
    div.download ul{
        list-style:none;
        margin:0px;
        padding:0px;
        width:680px;
    }
        div.download ul li{
            margin-bottom:10px;
            width:635px;
        }
            div.download ul li{
                background:transparent url(/images/icon_pdf.png) no-repeat left top;
                padding:10px 0px 10px 45px;
            }
            div.download ul li.doc{
                background-image:url(/images/icon_doc.png);
            }
            div.download ul li.zip{
                background-image:url(/images/icon_zip.png);
            }

/**
 * professionals
 **/
div.link ul{
    padding-left:0px;
    margin-left:15px;
}

/**
 * guestbook
 **/
div.guestbook{
    
}
    div.guestbook p{
        margin:20px 0px;
        text-align:center;
    }
    div.guestbook div.message{
        border-bottom:1px dotted #369;
        margin-bottom:10px;
    }
        div.guestbook div.message p{
            margin:10px 0;
            text-align:justify;
        }
    div.guestbook form{
    }
        div.guestbook form fieldset{
        }
            div.guestbook form label{
                display:block;
                margin-bottom:0px;
            }
            div.guestbook form input[type="text"]{
                padding:5px;
                width:300px;
            }
            div.guestbook form input[type="submit"]{
                margin-top:10px;
            }
            div.guestbook form input, div.guestbook form textarea{
                margin:0px 0px 10px 0px;
            }
            div.guestbook form fieldset ul{
                margin:0px;
                padding:0px;
            }
            div.guestbook form fieldset textarea{
                font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
                font-size:15px;
            }
            
/**
 * contact
 **/
div.contact form{
}
    div.contact form fieldset{
        margin:0px auto;
        width:405px;
    }
        div.contact form label{
            display:block;
            margin-bottom:0px;
        }
        div.contact form input[type="text"]{
            padding:5px;
            width:300px;
        }
        div.contact form input[type="submit"]{
            margin-top:10px;
        }
        div.contact form input, div.contact form textarea{
            margin:0px 0px 10px 0px;
        }
        div.contact form fieldset ul{
            margin:0px;
            padding:0px;
        }
        div.contact form fieldset textarea{
            font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
            font-size:15px;
        }
            
/**
 * error
 **/
div#content.error{
    border:none;
    height:200px;
    text-align:center;
}
    div#content.error h2{
        border:none;
        font-size:2.5em;
        margin:20px;
        text-transform:none;
    }
    div#content.error p{
        font-size:1.5em;
    }

/**
 * footer
 **/
div#footer{
    color:#fff;
    padding:5px 0px 0px 250px;
    text-align:center;
    width:
}
    div#footer a{
        color:#fff;
    }
    div#footer ul{
        list-style:none;
    }
    div#footer ul li{
        border-right:1px solid #fff;
        display:inline-block;
        list-style:none;
        padding:0px 7px 0px 3px;
    }
    div#footer ul li.last{
        border:0;
    }