/**
 * Desenvolvido por Henrique Boaventura <http://www.hboaventura.com>
 **/

/**
 * gerais
 **/
body{
    font-size:14px;
    color:#000;
    background:#fff;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

a{
    color:#000;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}

/**
 * estrutura
 **/

div.container{
    background:#9CC url(/images/fundo.png) repeat-y left top;
    border: 1px solid #000;    
}
    div.container h2{
        left:-9999em;
        position:absolute;
    }
    div#header{
        background: transparent url(/images/topo.png) no-repeat left top;
        height:95px;
    }
    
    div#content{ 
        padding:10px 10px 10px 0px;
        width:700px;
    }
    div#sideBar{
        margin-left:15px;
        padding:5px 15px 5px 10px;
        width:190px;
    }
    div#footer{
        background: transparent url(/images/rodape.png) no-repeat left top;
        height:60px;
    }
    
/**
 * header
 **/
div#header h1{
    color:#fff;
    float:left;
    font-size: 20px;
    margin: 20px 0px 0px 300px;
}
div#header ul{
    float:left;
    margin:22px 0px 0px 225px;
}
    div#header ul li{
        border-right:1px solid #369;
        display:inline-block;
        list-style:none;
        padding:0px 7px 0px 3px;
    }
    div#header ul li.last{
        border:0;
    }
        div#header ul li a{
            color:#369;
            font-weight:bold;
        }
div#header fieldset{
    float:left;
    border:0;
    padding:0px;
    margin:15px 0px 0px 30px;
    width:350px;
}
    div#header fieldset legend{
        display:none;
    }
    div#header fieldset input{
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        width:265px;
    }
    div#header fieldset input.button{
        background-color:#369;
        border:1px solid #369;
        color:#fff;
        width:auto;
    }    
    
/**
 * sideBar
 **/
div#sideBar h3{
    border-bottom:1px dotted #369;
    color:#369;
    font-size:18px;
    margin-bottom:5px;
    text-transform:uppercase;
}
div#sideBar ul{
    padding-left:10px;
}
    div#sideBar ul li {
        border-bottom:1px dotted #000;
        list-style:none;
    }
        div#sideBar ul li a{
            color:#000;
            font-size:15px;
        }
    
/**
 * capa
 **/
div.capa div{
    background-color:#fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding:5px;
    text-align:justify;
    overflow: hidden;
}
    div.capa div h3{
        border-bottom:1px dotted #369;
        color:#369;
        font-size:18px;
        margin-bottom:5px;
        text-transform:uppercase;
    }
div.capa div#ads_700{
    clear:both;
    float:left;
    height:130px;
    margin-bottom:10px;
    width:690px;
}
div.capa div#newsBox{
    clear:both;
    float:left;
    height:230px;
    margin-bottom:10px;
    width:690px;
}
    div.capa div#newsBox p{
        height:186px;
        overflow:hidden;
        margin-bottom:0px;
    }
    div.capa div#newsBox a.leiamais{
        float:right;
    }
    div.capa div#newsBox span.picture{
        background-color:#9cc;
        float:right;
        margin:0px 0px 5px 5px;
        padding:5px;
    }
        div.capa div#newsBox span.picture h4{
            font-size:1em;
            margin-bottom:0px;
        }
div.capa div#socialMedia{
    float:left;
    height:115px;
    margin:0px 10px 10px 0px;
    width: 250px;
}
    div.capa div#socialMedia img{
        margin:10px 1px;
    }
div.capa div.ads_125{
    float:left;
    height:115px;
    margin:0px 10px 10px 0px;
    width: 115px;
}
div.capa div#caracteristicas, div.capa div#cuidados{
    float:left;
    height:172px;
    margin:0px 10px 10px 0px;
    text-align:right;
    width:250px;
}
    div.capa div#caracteristicas p, div.capa div#cuidados p{
        height:125px;
        margin:5px 0px;
        overflow:hidden;
        text-align:justify;
    }
    div.capa div#caracteristicas a, div.capa div#cuidados a{
        
    }
div.capa div#ads_160{
    float:left;
    height:310px;
    margin-top: -135px;
    width:150px;
}
div.capa div#guestbook{
    clear:both;
    float:left;
    height:220px;    
    width:690px;
}
    div.capa div#guestbook a{
        float:right;
    }
    div.capa div#guestbook ul{
        padding-left:0px;
        margin:0px;
    }
        div.capa div#guestbook ul li{
            list-style:none;
            margin-bottom:10px;
        }
        div.capa div#guestbook ul li:last-child{
            margin-bottom:0px;
        }
            div.capa div#guestbook ul li p{
                height:31px;
                line-height:1.1em;
                margin:0px;
                overflow:hidden;
                
            }