div.container{
    border: 1px solid #000;
}
    div#header{
        border-bottom:1px solid #000;
        margin:15px 0px;
        padding:10px;
        width:930px;
    }
    div#content{
        padding:10px;
    }
        div#content h1{
            font-size:2em;
        }
ul#menu{
    clear:both;
    float:left;
    padding-left:0px;
    margin:0px 0px -10px 0px;
}
    ul#menu li{
        background-color:#fff;
        border:1px solid #000;
        border-bottom:0;
        border-radius: 5px 5px 0px 0px;
        float:left;
        list-style:none;
        margin:0px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
    }
    ul#menu li.selected{
        height:29px;
        margin-bottom:-12px;
    }
    ul#menu li.logout{
        margin-left:20px;
    }
        ul#menu li a{
            display:block;
            font-weight:bold;
            padding:5px 5px;
            text-decoration:none;
        }

form#login{
    position:relative;
    left:50%;
    margin:30px 0px 30px -105px;
    top:50%;
}
form#login fieldset label{
    display:block;
    margin:0px auto;
}

input[type=text], textarea{
    width:600px!important;
}
form#login input{
    width:auto!important;
}
div.user input[type=text]{
    width:300px!important;
}
